@media (orientation: portrait) and (max-width:630px){
    .card{
        position: absolute;
        width: 320px;
        height: 500px;
        left: 50vw;
        top: 50vh;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 30px;
        padding: 10px;
        border: 2px solid transparent;
        background: linear-gradient(145deg,  #afafba, #d0d0dd);
        box-shadow:  14px 14px 26px #a5a5b0,
             -14px -14px 26px #dfdfee;
    }
    .card-title{
        color: var(--color5);
        position: absolute;
        top: 20px;
        left: 30px;
        font-size: 1.3em;
        font-family: var(--font1);
    }
    
    .card-text{
        position: absolute;
        top: 70px;
        color: var(--color5);
        font-size: 16px;
        font-family: var(--font2);
        text-align: center;
        width: 300px;

    }
}

@media (min-width:630px){
        .card{
        position: absolute;
        width: 45vh;
        height: 75vh;
        left: 50vw;
        top: 45vh;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 30px;
        padding: 20px;
        border: 2px solid transparent;
        background: linear-gradient(145deg,  #afafba, #d0d0dd);
        box-shadow:  14px 14px 26px #a5a5b0,
             -14px -14px 26px #dfdfee;
    }
    .card-title{
        color: var(--color5);
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.8em;
        font-family: var(--font1);
    }
    
    .card-text{
        position: absolute;
        top: 100px;
        color: var(--color5);
        font-size: 20px;
        font-family: var(--font2);
        text-align: center;
        width: 40vh;
        height: calc(75vh - 120px);
        overflow-y: scroll;
        padding: 2px;

    }

    .card-text::-webkit-scrollbar{
        width: 5px;
    }

    .card-text::-webkit-scrollbar-thumb{
        width: 10px;
        background-color: var(--color5);
        position: absolute;
        border-radius: 5px;
    }
}