@media (orientation: portrait) and (max-width:630px){
    .card-colored{
        position: absolute;
        width: 320px;
        height: 500px;
        left: 50vw;
        top: 50vh;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 30px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: 2px solid black;
    }
    .card-title-colored{
        color: black;
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 1.3em;
        font-family: var(--font1);
    }
    
    .card-text-colored{
        position: absolute;
        top: 70px;
        color: black;
        font-size: 16px;
        font-family: var(--font2);
        text-align: center;
        width: 300px;

    }

    .color-drop.active::before{
        clip-path: circle(40vh at 0 100%);
    }

    .color-drop.active::after{
        clip-path: circle(20vh at 100% 0);
    }

    .icon-card{
        position: absolute;
        font-size: 2.5em;
        right: 20px;
        top: 20px;
        color: black
    }


    .color-drop{
        overflow: hidden;
        position: absolute;
        background-color: var(--MainColor);
        width: 100%;
        height: 100%;
        transition: 1s;
        clip-path: circle(10px at var(--PosiX) 90%);

    }

    .color-drop::before{
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 100%;
        clip-path: circle(10px at 0 100%);
        transition: 2s;
    }

    .color-drop::after{
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        clip-path: circle(10px at 100% 0);
        transition: 2s;
    }


    .color-drop.active{
        clip-path: circle(100vh);
        z-index: 100;
    }
    

}

@media (min-width:630px){
    .card-colored{
        position: absolute;
        width: 45vh;
        height: 75vh;
        left: 50vw;
        top: 45vh;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: 2px solid black;
    }
    .card-title-colored{
        color: black;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 70%;
        font-size: 1.8em;
        font-family: var(--font1);
    }
    
    .card-text-colored{
        position: absolute;
        top: 100px;
        color: black;
        font-size: 20px;
        font-family: var(--font2);
        text-align: center;
        width: 388px;
        width: 40vh;
        height: calc(75vh - 120px);
        overflow-y: scroll;
        padding: 2px;

    }

    .icon-card{
        position: absolute;
        font-size: 4.5em;
        right: 20px;
        top: 20px;
        color: black
    }


    .color-drop{
        overflow: hidden;
        position: absolute;
        background-color: var(--MainColor);
        width: 100%;
        height: 100%;
        transition: 1.5s;
        clip-path: circle(10px at var(--PosiX2) 90%);

    }

    .color-drop::before{
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, 0.1);
        width: 100%;
        height: 100%;
        clip-path: circle(10px at 0 100%);
        transition: 2s;
    }

    .color-drop::after{
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        clip-path: circle(10px at 100% 0);
        transition: 2s;
    }

    .color-drop.active{
        clip-path: circle(200vw at var(--PosiX) var(--PosiX));
        z-index: 100;
    }
    
    .color-drop.active::before{
        clip-path: circle(50vw at 0 100%);
    }

    .color-drop.active::after{
        clip-path: circle(30vw at 100% 0);
    }



    .card-text-colored::-webkit-scrollbar{
        width: 5px;
    }

    .card-text-colored::-webkit-scrollbar-thumb{
        width: 10px;
        background-color: black;
        position: absolute;
        border-radius: 5px;
    }

}