
@media (orientation: portrait) and (max-width:630px){
    .knowledge > .content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        width: 90%;
        height: fit-content;
        max-height: 90%;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        transition: .5s;
    }
    
}

@media (min-width:630px){
    
}

