

    .knowledge .content::-webkit-scrollbar{
        width: 5px;
    }

    .knowledge .content::-webkit-scrollbar-thumb{
        width: 10px;
        background-color: var(--color5);
        position: absolute;
        border-radius: 5px;
    }


@media (orientation: portrait) and (max-width:630px){
    .knowledge > .content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        width: 90%;
        height: fit-content;
        max-height: 90%;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden ;
        transition: .5s;
    }
    
}

@media (min-width:630px){
    .knowledge > .content{
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
        width: 85%;
        height: 85%;
        align-items: center;
        justify-content: center;
        overflow-x: hidden ;
        transition: .5s;
        max-width: 810px;


    }
}

